@inherits LayoutComponentBase
@using TaskManagerClient.Shared


<PageTitle>Task Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
